*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
   
}
html {
    scroll-behavior: smooth;
  }
  

.main-nav{
   /* position: absolute; */
   display: flex;
   justify-content: space-between;
   padding-left: 3%;
   padding-right: 7%;
   padding-top: 1%;
   padding-bottom: 1%;
   width: -webkit-fill-available;
}
.logo{
    font-size: 48px;
    font-weight: bold;
    color: #FC4545;
}
.nav-list{
    display: flex;
    align-items: center;
}

.lists{
    display: flex;
    gap: 10%;
    list-style-type: none;
}
.link{
    text-decoration: none;
}
.links{
    text-decoration: none;
    color: black;
}
/* =================================================================================================== */
.bodyContainer{
padding: 4%;
}
.upperPart{
    display: flex;
    column-gap: 5%;
}
.Img1{
    background: url(/img/hanson-lu-gGgoDJRD2WM-unsplash\ 2.png);
    background-size: cover;
    width: 608px;
    height: 406px;
    border-radius: 20px;
}


.lowerPart{
    display: flex;
    column-gap: 5%;
    margin-top: 5%;
}

.Img2{
    background: url(/img/ryan-warburton-UOFaKUU2v1w-unsplash\ 2.png);
    background-size: cover;
    width: 608px;
    height: 406px;
    border-radius: 20px;
}


.details{
    width: 50%;
    padding-left: 3%;
    padding-right: 3%;
}
.headline{
    font-size: 24px;
    font-weight: bold;

}
.parOne, .parTwo, .parThree{
    font-size: 18px;
}























/* ==================================================================== */
.main-footer{
    width: -webkit-fill-available;
    background-color: #FC4545;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 5%;
}
.socials{
display: flex;
gap: 10px;
}