*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}
.scroll-container::-webkit-scrollbar {
    display: none;
  }
html {
    scroll-behavior: smooth;
    -ms-overflow-style: none
  }

.main-nav{
   /* position: absolute; */
   display: flex;
   justify-content: space-between;
   padding-left: 3%;
   padding-right: 7%;
   padding-top: 1%;
   padding-bottom: 1%;
   width: -webkit-fill-available;
}
.logo{
    font-size: 48px;
    font-weight: bold;
    color: #FC4545;
}
.nav-list{
    display: flex;
    align-items: center;
}

.lists{
    display: flex;
    gap: 10%;
    list-style-type: none;
}
.link{
    text-decoration: none;
}
.links{
    text-decoration: none;
    color: black;
}
/* =================================================================================================== */

.mainContainer{
    display: flex;
    padding: 3%;
}
.formContainer{
    width: 70%;
}
.formDetails{
    display: flex;
    flex-direction: column;
    gap: 10%;
}
.formTitle{
    font-size: 24px;
    margin-bottom: 4%;
}
.formSubTitle{
    font-size: 18px;
    padding-right: 20%;
    margin-bottom: 4%;
}
.name{
    display: flex;
}
.fnameContainer{
    width: 50%;
    margin-right: 2%;
}
.lnameContainer{
    width: 50%;
}

.fname,.lname{
    width: -webkit-fill-available;
    font-size: 18px;
    margin-bottom: 5%;
    margin-top: 4%;
    padding-bottom: 2%;
}
.email,.subject{
    width: -webkit-fill-available;
    font-size: 18px;
    margin-bottom: 5%;
    margin-top: 2%;
    padding-bottom: 2%;
}

.message{
    width: -webkit-fill-available;
    font-size: 18px;
    margin-bottom: 5%;
    margin-top: 2%;
    padding-bottom: 7%;
}
.submitBtn{
    background-color: black;
    color: white;
    font-size: 18px;
    padding: 1% 3.5%;
    border: none;
    font-weight: lighter;
}



.rightDetails{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.formImg{
    background: url(/img/jason-leung-wHddViTmSvA-unsplash\ 2.png);
    background-size: cover;
    width: 300px;
    height: 450px;
    border-radius: 20px;
}
.littleDetail{
    margin-right: auto;
    padding-left: 15%;
    padding-top: 3%;
    color: grey;
    /* display: flex;
    align-self: flex-start; */
    /* padding-left: 12%;
    margin-top: 3%;
    color: grey; */
}

/* ==================================================================== */
.main-footer{
    width: -webkit-fill-available;
    background-color: #FC4545;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 5%;
}
.socials{
display: flex;
gap: 10px;
}


/* ======================================================================================= */
/* mobile */
@media screen and ( width<=425px ) {
    #menu-toggle{
        display: none;
    }
    .menu-icon{
    position: absolute;
    right: 20px;
    font-weight: bold;
    top: 20px;

    font-size: 20px;
    cursor: pointer;
    z-index: 1;
    }
    .nav-list{
        position: fixed;
        top: 0;
        left: -200px;  /* Hide the sidebar initially */
        width: 150px;
        height: 100%;
        background-color: #FC4545;
        color: white;
        overflow-x: hidden;
        transition: left 0.3s;
    }
    .lists{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 25%;
        row-gap: 20px;
    }
    #menu-toggle:checked + .menu-icon + .nav-list {
        left: 0; /* Show the sidebar when menu icon is clicked */
    }
    

    .logo{
        font-size: 32px;
    }
    .mainContainer{
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
    }
    .name{
        display: flex;
        flex-direction: column;
    }
    .formContainer,.rightDetails{
        width: -webkit-fill-available;
    }
    .fnameContainer,.lnameContainer,.formSubTitle{
        width: 100%;
    }
    .formPicture{
        width: 100%;
        height: 160px;
        margin-top: 5%;
    }
    .formImg{
        width: 100%;
        height: 100%;
        background-position-x: center;
        background-position-y: center;
    }
    .littleDetail{
        margin-left: -10%;
    }
    .formTitle{
        font-size: 20px;
    }
    .formSubTitle{
        font-size: 16px;
    }
    .email,.fname,.lname,.subject,.message,.submitBtn{
        font-size: 14px;
    }
    .main-footer{
        height: 80px;
    }
    #Instagram--Streamline-Atlas,#Tiktok--Streamline-Atlas,#Youtube--Streamline-Atlas,#Pinterest-Logo--Streamline-Ultimate{
        height: 20px;
        width: 20px;
    }
    .lname,.fname,.email,.subject,.message{
        margin-top: 5px;
    }

}


/* small tablet */
@media screen and (425px < width <= 599px ) {
    /* the side bar  */
    #menu-toggle{
        display: none;
    }
    .menu-icon{
        position: absolute;
        right: 20px;
        font-weight: bold;
        top: 20px;
        font-size: 25px;
        cursor: pointer;
        z-index: 1;
    }
    .nav-list{
        position: fixed;
        top: 0;
        left: -200px;  /* Hide the sidebar initially */
        width: 200px;
        height: 100%;
        background-color: #FC4545;
        color: white;
        overflow-x: hidden;
        transition: left 0.3s;
    }
    .lists{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 25%;
        row-gap: 20px;
    }
    #menu-toggle:checked + .menu-icon + .nav-list {
        left: 0; /* Show the sidebar when menu icon is clicked */
    }

    .logo{
        font-size: 32px;
    }
    .formImg{
        width: 100px;
        height: 200px;
        background-position-x: center;
        background-position-y: center;
    }
    .formImg{
        order: 1;
    }
    
}
/* wide tablet */
@media screen and (599px < width <= 768px ) {
    #menu-toggle{
        display: none;
    }
    .menu-icon{
        display: none;
    }
    .logo{
        font-size: 36px;
    }
    .nav-list{
        margin-right: 2%;
        font-size: small;
    }
    .formImg{
        width: 150px;
        height: 250px;
        background-position-x: center;
        background-position-y: center;
    }
    
}
/* laptop and desktop */
@media screen and (768px < width <= 1440px) {
    #menu-toggle{
        display: none;
    }
    .menu-icon{
        display: none;
    }
    .nav-list{
        margin-right: 2%;
    }
    .rightDetails{
        margin-left: 5%;
    }
    .formImg{
        background-position-x: center;
        background-position-y: center;
        width: 240px;
    }
    .formTitle{
        font-size: 32px;
    }
    .formSubTitle{
        font-size: 22px;
    }
    .fname,.lname,.email,.subject,.message{
        font-size: 20px;
    }
}
/* 4K huge screens */
@media screen and (width > 1440px) {
    #menu-toggle{
        display: none;
    }
    .menu-icon{
        display: none;
    }
    .logo{
        font-size: 5rem;
    }
    .nav-list{
        font-size: 1.7rem;
        margin-right: 2%;
    }
    .main-nav{
        padding-bottom: 0px;
    }
    .formTitle{
        font-size: 52px;
    }
    .formSubTitle{
        font-size: 38px;
    }
    .fname,.lname,.email,.subject,.message,.submitBtn{
        font-size: 32px;
    }
    .formImg{
        width: 440px;
        height: 700px;
        margin-left: 5%;
    }
    .littleDetail{
        font-size: x-large;
        padding-left: 25%;
    }
    .main-footer{
        height: 150px;
    }
    #Instagram--Streamline-Atlas,#Tiktok--Streamline-Atlas,#Youtube--Streamline-Atlas,#Pinterest-Logo--Streamline-Ultimate{
        height: 45px;
        width: 45px;
    }

}