*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

.main-nav{
   /* position: absolute; */
   display: flex;
   justify-content: space-between;
   padding-left: 3%;
   padding-right: 7%;
   padding-top: 1%;
   padding-bottom: 1%;
   width: -webkit-fill-available;
}
.logo{
    font-size: 48px;
    font-weight: bold;
    color: #FC4545;
}
.nav-list{
    display: flex;
    align-items: center;
}

.lists{
    display: flex;
    gap: 10%;
    list-style-type: none;
}
.link{
    text-decoration: none;
}
.links{
    text-decoration: none;
    color: black;
}
/* =================================================================================================== */
.mainContainer{
    padding-left: 3%;
    padding-right: 3%;
    border: 1px solid black;
}
.groupOne{
    display: flex;
    flex-direction: column;
}
.groupTwo{
    display: flex;
    flex-direction: column;
}

.upperGroup{
    display: flex;
    gap: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
}
.UpperItemOne{
    background: url(/img/jason-leung-wHddViTmSvA-unsplash\ 1.png);
    background-size: cover;
    width: 33%;
    height: 380px;
    border-radius: 24px;
}
.UpperItemTwo{
    background: url(/img/clark-van-der-beken-chcyjyRQV74-unsplash\ 1.png);
    background-size: cover;
    width: 33%;
    height: 380px;
    border-radius: 24px;
}
.UpperItemThree{
    background: url(/img/jason-leung-wHddViTmSvA-unsplash\ 1.png);
    background-size: cover;
    width: 33%;
    height: 380px;
    border-radius: 24px;
}


.lowerGroup{
    display: flex;
    gap: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
}
.LowerItemOne{
    background: url(/img/clark-van-der-beken-chcyjyRQV74-unsplash\ 1.png);
    background-size: cover;
    width: 33%;
    height: 380px;
    border-radius: 24px;
}
.LowerItemTwo{
    background: url(/img/jason-leung-wHddViTmSvA-unsplash\ 1.png);
    background-size: cover;
    width: 33%;
    height: 380px;
    border-radius: 24px;
}
.LowerItemThree{
    background: url(/img/clark-van-der-beken-chcyjyRQV74-unsplash\ 1.png);
    background-size: cover;
    width: 33%;
    height: 380px;
    border-radius: 24px;
}
